/* globals */
:root{
    --yellow: #ee9e15;
    --text: #050F36;
    --light-blue: #8eccff ;
    --Purple-950: hsl(292, 42%, 14%);
}

body {
    font-size: 1.5rem;
    color: var(--text);


}
h1, h2 {
    font-weight: bold;
    text-transform: capitalize;
    /* text-decoration: underline; */
    text-underline-offset: 0.3rem;
}
header {
    background-color: var(--light-blue);
    padding: 1rem 0.5rem;
    display: flex;
     text-align: center;
     align-items: center;
     font-size: 1.2rem;
     text-transform: capitalize;
     margin-bottom: 2rem;
    img {
        border-radius: 100%;
        width: 15%;
        height: 15;
       
        
    }
}
footer {


}
main {
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    text-align: center;

}
section, article {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap:0.7rem
}
hr {
    margin: 1rem 0;
    background-color: var(--text);
}
button {
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    align-self: center;
    

}
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(30, 90%, 49%) 0%,
    hsl(34, 94%, 19%) 8%,
    hsl(38, 88%, 27%) 92%,
    hsl(42, 97%, 35%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: var(--yellow);
  padding:0.5rem 0.8rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}



/* HERO
------------------------------------------------ */

.hero {
    
    /* padding-right: 10%; */
    hr {
        margin-bottom: 0;
        margin-top: 0;
    }
    text-align: start;
    font-size: 1.4rem;
    text-transform: capitalize;
    button {
        
        margin-top: 2rem;
        /* align-self: start; */
        /* text-align: center; */
        font-size: 1.2rem;
    }
    img {
        width: 87%;
        align-self: flex-end;
        margin-top: -4rem;
    }
    button {
        /* font-size: 1.1rem; */
        align-self: flex-start;
    }
}
 .age {
    /* letter-spacing: 0.2rem; */
 }
.benefits-grid {
    font-size: 1rem;
    text-align: center;
    margin-right: -1.7rem;
    margin-left: -1.7rem;
    margin-top: 5%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 5rem;
    gap: 1rem;
    place-items: center;
    img {
        width: 30%;;
    }
}
.top-of-hero {
    color: rgb(97, 63, 0);
    text-transform: none;
    text-align: center;
    font-size: 1.1rem;
    margin-top: -1rem;
}
.target {
    font-weight: 600;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.scarcity {
    margin-top: 0.9rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: rgb(97, 63, 0);
    text-align: start;
}
.hero-img {
        z-index: -10;
        width: 100%;
        margin-top: -80%;
        margin-left: auto;
    }



/* voted
------------------------------------------ */
.voted {
    background-color: var(--light-blue);
    padding: 2rem;
    p {
        font-size: 1.3rem;
        opacity: 0.5;
    }

    img {
        margin: auto;
        max-width: 60%;
        border-radius: 50%;
    }
}

/* THE FALL
------------------------------------ */
.background-for-change {
    padding-top: 2rem;
    background: #1f1515;
background: linear-gradient(180deg, rgba(31, 21, 21, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.the-fall {
    color: whitesmoke;
    
}

   
    


/* THE RISE
------------------------------------ */
.the-rise {
    margin-top: 8rem;
}
li {
    margin-bottom: 1rem;
}
.hat {
    width: 5rem;
    margin: auto;
}
.success-list {
    list-style-type: none;
    li {
        position: relative;
        text-align: start;
    }
    li::before {
        width: 2rem;
        aspect-ratio: 1 / 1;
        content: "";
        background-image: url(/images/tick.svg);
        
        position: absolute;
        left: -15%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
.kid {
    margin-top: 2rem;
}

/* ACCORDIAN
------------------------------------ */
.step-to-success {
    margin: 5rem 0;
    padding: 3rem 0;
    background-color: var(--light-blue);
}
.accordian {
    
    text-wrap:inherit;
    border-radius: 1rem;
    padding: 0.5rem;
    border: solid var(--text) 2px;

    .accordian-header {
        img {
            transform: rotate(0deg);
            transition: transform 400ms ease-in;
        }
    }
}
.accordian-container{
    /* font-size: 0.9rem; */
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 3rem;
   p {
    height: 0;
    overflow: hidden;
    text-align: start;
    padding: 0 1rem;
    background: none;
    /* padding-bottom: 1rem; */
    transition: height 400ms ease-in-out, background 400ms;

   }
   
}
.accordian.active {
    background-color:var(--yellow);
    
    .accordian-header {
        img {
            transform: rotate(180deg);
        }
        .accordian-title {
            img{
                transform: rotate(0);
            }
        }
    }
    p {
        height: fit-content;
        /* padding: 1rem; */
    }
}
h3 {
    font-size: 1.2rem;
}
.accordian-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    align-items: center;
    text-align: start;
    img {
        width: 3rem;
    }
    /* text-align: start; */
}
.accordian-title {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    img {
        
        width: 15%;
    }
}

/* TESTIMONIALS
------------------------------------ */


/* FINAL CTA
------------------------------------ */
.cta {
    margin: 3rem 0;
    padding: 1rem;
    p {
        margin-bottom: 2rem;
    }
    h2 {
        margin-bottom: 1rem;
    }
}

